<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trivia Game</title>
    <link rel="stylesheet" href="./public/main.css">
</head>
<body>
    <div class="topnav">
        <img src='../public/img/logo.png'>
        {{#if user}}
            <a href="#profile">{{user.username}}</a>
        {{else}}
            <a href="#profile">Profile</a>
        {{/if}}
        <a class="active" href="#home">Home</a>
        <a href="#leaderboard">Leaderboard</a>
        <a href="/logout">Logout</a>
    </div>
    {{#if question}}
        <div class="apiformwrapper">
            <form class="apiformcontainer" action="/index" method="POST">
                <div class="questionDiv">
                <h2>{{{question}}}</h2>
                </div>
                {{#each answers as |answer|}}
                    <div class="options">
                        <input type="radio" name="answer">
                        <h3>{{{answer}}}</h3>
                    </div>
                {{/each}}
                <div class="nextQuestionDiv">
                    <button type="submit" class="nextQuestionBtn">Next Question</button>
                </div>
            </div>
            </form>
        </div>
    {{else}}
        <div class="apiformwrapper">
            <form class="apiformcontainer">
                <div class="questionDiv">
                    <h2>There was a problem loading the quiz...</h2>
                </div>
                <div class="nextQuestionDiv">
                    <button onClick="window.location.reload();" class="nextQuestionBtn">Try Again</button>
                </div>
            </form>
        </div> 
    {{/if}}
    <div class="leaderboardcontainer">
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/15 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/eric@adorable.png"><h4>Player: Eric 0/infinity </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/frost@adorable.png"><h4>Player: Raly 100/100 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/matt@adorable.png"><h4>Player: Matt 100/110 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 8/20 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 2/10 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/10 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/10 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/10 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/10 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/10 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/10 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/10 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/10 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/10 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/10 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/10 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/10 </h4>
                </div>
            </div>
        </div>
        <div class="score-board">
            <div class="player">
                <div class="score-box">
                    <img src="https://api.adorable.io/avatars/50/abott@adorable.png"><h4>Player: Bob 5/10 </h4>
                </div>
            </div>
        </div>
    </div>
    <script>
        var options = document.getElementsByClassName('options')

        for (let i=0; i<options.length; i++) {
            options[i].addEventListener("click", ()=>{
                let children = options[i].children
                children[0].checked = true;
            });
        }

    </script>
</body>
</html>