<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="./public/main.css">
    <link rel="stylesheet" href="./public/scaling.css">
</head>
<body>
     <div class="topnav">
        <img src='../public/img/logo.png'>
        <a href="/">Home</a>
        <a href="/leaderboard">Leaderboard</a>
        {{#if user}}
            <div class="dropdown">
                <button class="dropbtn">{{user.username}}
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/profile">View Profile</a>
                    <a href="#">Account Settings</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        {{else}}
            <div class="dropdown">
                <button class="dropbtn">Profile
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/profile">View Profile</a>
                    <a href="#">Account Settings</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="profilewrapper">
        <div class="profilecontainer">
            <img class="profileimg" src="{{user.profileImg}}">
            <div class="profileNamecontainer">
                <div class="profileName">
                    <h1>{{user.username}}</h1>
                    <h1>Rank: N/A</h1>
                </div>
                <div class="profileNameFlex">
                    <h1>Badges:</h3>
                </div>
            </div>
            <div class="profilestats">
                <h3>Followers: 178</h3>
                <h3>Following: 18</h3>
                <h3>Total Score: {{user.score}}</h3>
            </div>
            <div class="profilebtns">
                <button class="profilebtns1">Edit Profile</button>
            </div>
        </div>
    </div>
</body>
</html>